
.div1{
	overflow:auto;
	display:flex;
	justify-content: center;
	margin-top: 20px;
}
.div2{
display: inline-block;
}


img {
float:left;
display:inline-block;
vertical-align: text-top;

}
h1{
margin-bottom: 10px;

}


h3 {
  float:left;
}
/* Mark  Order Completed? */
h3 {
	text-align: center;
}
h4{
  float:left;
  margin-bottom: 5px;
  
}

h5{
	flex: 1;
	padding: 15px;
}



body{

  background:#e7e7e7;
  padding:0;
  margin:0;
  font-family: 'Muli',sans-serif;
}

ul {
	list-style-type: none;
}


.oList {
	list-style-type: disc;
}


/* button styling */
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;

  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #008CBA; /* Blue */
  border: none;
  border-radius: 6px;
  box-shadow: 0 3px #999;

}

.button2 {
	display: inline-block;
	padding: 10px 20px;
	font-size: 18px;
	cursor: pointer;

	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #008CBA; /* Blue */
	border: none;
	border-radius: 6px;
	box-shadow: 0 3px #999;
	margin-top:20px;
}



/* buttons on the finish popup */
.verticleButton {

  width: 280px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 10px;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #008CBA; /* Blue */
  border: none;
  border-radius: 6px;
  box-shadow: 0 3px #999;
}


.bag{
	
	background:#2828d2;
	color:#fff;
	margin: 10px;
	align-self: center;
	padding: 10px;
	float: right;
	border-radius: 10px;
}

.customersNote{
	border-radius: 10px;
	background:#e7e7e7;
	display: flex;
	align-content: center;
	margin-right: 20px;
	font-size: 18px;
}


.container{
	background:#fff;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0,0,0,.2);
  display:inline-block;
  max-width: 100%;
  overflow: hidden;
  width: 450px;
	padding-left: 20px;
	margin-top:20px;

}

.buttons{
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom:20px;
	display:inline-inline-flex;
}
.buttons #done, #done2,#done3 {
	float:right;


}
.afterButtons #back,#back2,#back3{
	float:right;
	margin-right: 20px;
	background-color: white;
	margin-bottom: 20px;
	outline:auto;
	color:black;
}
div.customer{
	display:inline-block;
	text-align: center;
    font-size: 25px;
	
	
}
/* ADDRESS */
.address {
	font-size: 25px;
	text-align: left;
	padding-left: 37px;
	margin-bottom: 10px;
	margin-right: 20px
}
/* number styling */
span.number { 
	text-align: center;
	padding:  8px;
	background: black;
	color: white;
	border-radius: 5px;
}

/*finish page */
div.finish {
	text-align: center;

}

/* list styling */
.categories li {
  font: 25px/1.5 Arial, Helvetic, sans-serif;
  margin:auto;
	margin-bottom: 20px;

}


.headernav{
 
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #e7e7e7;
  display: inline-block;
  padding: .35em;
}
.headernav a {
	  text-decoration: none;
}

.content {
	max-width: 800px;
	margin:auto;
	padding:10px;
	display:flex;
	justify-content: center;
  align-items: center;
	flex-direction: column;

}

#collapseInfo,#collapseInfo2,#collapseInfo3{
	display:block;
	
}

#afterCollapseInfo,#afterCollapseInfo2,#afterCollapseInfo3{
	display:none;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
    margin-top: 15px;
	margin-bottom: 30px;
  padding: 0;
  border: 1px solid #888;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  clear: both;

}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
}
